<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.visitorManager.visitors.dao.VisitorsRecordDao">

    <resultMap id="VisitorsRecordVO"
               type="net.lab1024.smartadmin.module.business.visitorManager.visitors.domain.vo.VisitorsRecordVO"/>
    <resultMap id="VisitorsRecordExcelVO"
               type="net.lab1024.smartadmin.module.business.visitorManager.visitors.domain.vo.VisitorsRecordExcelVO"/>


    <select id="queryByPage" resultMap="VisitorsRecordVO">
        select
          vr.id,
          vr.name,
          vr.id_card,
          vr.company_name,
          vr.phone,
          vr.area,
          vr.itinerary_code,
          vr.health_code,
          vr.special_case,
          vr.is_fr,
          vr.visitors_time,
          vr.department_id,
          d.name departmentName,
          vr.employee_id,
          e.actual_name employeeName,
          e.login_name employeeLoginName,
          vr.remark,
          vr.create_time,
          vr.update_time,
          vr.shzt,
          vr.shyj,
          vr.openid,
          vr.affirm_status,
          vr.temp,
          vr.qr_code
        from vis_visitors_record vr
        left join t_department d on vr.department_id = d.id
        left join t_employee e on vr.employee_id = e.id
        <where>
            <if test="queryDTO.name != null and queryDTO.name != ''">
                AND INSTR(vr.name,#{queryDTO.name})
            </if>
            <if test="queryDTO.idCard != null and queryDTO.idCard != ''">
                AND vr.id_card = #{queryDTO.idCard}
            </if>
            <if test="queryDTO.phone != null and queryDTO.phone != ''">
                AND vr.phone = #{queryDTO.phone}
            </if>
            <!-- Mybatis是认定 0= '' 的  -->
            <if test="queryDTO.shzt != null">
                AND vr.shzt = #{queryDTO.shzt}
            </if>
            <if test="queryDTO.departmentId != null and queryDTO.departmentId != ''">
                AND vr.department_id = #{queryDTO.departmentId}
            </if>
        </where>
        order by vr.id desc
    </select>

    <select id="getAll" resultMap="VisitorsRecordVO">
        select
        vr.id,
        vr.name,
        vr.id_card,
        vr.company_name,
        vr.phone,
        vr.area,
        vr.itinerary_code,
        vr.health_code,
        vr.special_case,
        vr.is_fr,
        vr.visitors_time,
        vr.department_id,
        d.name departmentName,
        vr.employee_id,
        e.actual_name employeeName,
        e.login_name employeeLoginName,
        vr.create_time,
        vr.update_time,
        vr.remark,
        vr.shzt,
        vr.shyj,
        vr.openid,
        vr.affirm_status,
        vr.temp,
        vr.qr_code
        from vis_visitors_record vr
        left join t_department d on vr.department_id = d.id
        left join t_employee e on vr.employee_id = e.id
        order by vr.id desc
    </select>


    <select id="queryAllExportData" resultMap="VisitorsRecordExcelVO">
        select
        vr.id,
        vr.name,
        vr.id_card,
        vr.company_name,
        vr.phone,
        vr.area,
        vr.itinerary_code,
        vr.health_code,
        vr.special_case,
        vr.is_fr,
        vr.visitors_time,
        vr.department_id,
        d.name departmentName,
        vr.employee_id,
        e.actual_name employeeName,
        e.login_name employeeLoginName,
        vr.remark,
        vr.shzt,
        vr.shyj,
        vr.openid,
        vr.affirm_status,
        vr.temp,
        vr.qr_code
        from vis_visitors_record vr
        left join t_department d on vr.department_id = d.id
        left join t_employee e on vr.employee_id = e.id
        <where>
            <if test="queryDTO.name != null and queryDTO.name != ''">
                AND INSTR(vr.name,#{queryDTO.name})
            </if>
            <if test="queryDTO.idCard != null and queryDTO.idCard != ''">
                AND vr.id_card = #{queryDTO.idCard}
            </if>
            <if test="queryDTO.phone != null and queryDTO.phone != ''">
                AND vr.phone = #{queryDTO.phone}
            </if>
            <!-- Mybatis是认定 0= '' 的  -->
            <if test="queryDTO.shzt != null">
                AND vr.shzt = #{queryDTO.shzt}
            </if>
            <if test="queryDTO.departmentId != null and queryDTO.departmentId != ''">
                AND vr.department_id = #{queryDTO.departmentId}
            </if>
        </where>
        order by vr.id desc
    </select>

    <select id="queryBatchExportData" resultMap="VisitorsRecordExcelVO">
        select
         *
        from vis_visitors_record
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteById">
        delete from vis_visitors_record where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from vis_visitors_record where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

    <update id="update">
        update vis_visitors_record
        set shzt = #{shzt}, shyj = #{shyj},qr_code = #{qrCode}
        where id = #{id}
    </update>

    <select id="getByOpenId" resultMap="VisitorsRecordVO">
        select
            vr.id,
            vr.name,
            vr.id_card,
            vr.company_name,
            vr.phone,
            vr.area,
            vr.itinerary_code,
            vr.health_code,
            vr.special_case,
            vr.is_fr,
            vr.visitors_time,
            vr.department_id,
            d.name departmentName,
            vr.employee_id,
            e.actual_name employeeName,
            e.login_name employeeLoginName,
            vr.remark,
            vr.create_time,
            vr.update_time,
            vr.shzt,
            vr.shyj,
            vr.openid,
            vr.affirm_status,
            vr.temp,
            vr.qr_code
        from vis_visitors_record vr
        left join t_department d on vr.department_id = d.id
        left join t_employee e on vr.employee_id = e.id
        where vr.openid = #{openId}
        order by vr.id desc
    </select>

    <select id="getById" resultMap="VisitorsRecordVO">
        select
            vr.id,
            vr.name,
            vr.id_card,
            vr.company_name,
            vr.phone,
            vr.area,
            vr.itinerary_code,
            vr.health_code,
            vr.special_case,
                vr.is_fr,
            vr.visitors_time,
            vr.department_id,
            d.name departmentName,
            vr.employee_id,
            e.actual_name employeeName,
            e.login_name employeeLoginName,
            vr.remark,
            vr.create_time,
            vr.update_time,
            vr.shzt,
            vr.shyj,
            vr.openid,
            vr.affirm_status,
            vr.temp,
            vr.qr_code
        from vis_visitors_record vr
        left join t_department d on vr.department_id = d.id
        left join t_employee e on vr.employee_id = e.id
        where vr.id = #{id}
    </select>

    <select id="getApplyCount" resultType="java.lang.Integer">
        select count(id)
        from vis_visitors_record
        where openid = #{openid}
    </select>

    <update id="updateTemp">
        update vis_visitors_record
        set temp = #{temp}, affirm_status = 1
        where id = #{id}
    </update>

    <select id="visitorCount" resultMap="VisitorsRecordVO">
        select
        vr.id,
        vr.name,
        vr.id_card,
        vr.company_name,
        vr.phone,
        vr.area,
        vr.itinerary_code,
        vr.health_code,
        vr.special_case,
        vr.is_fr,
        vr.visitors_time,
        vr.department_id,
        d.name departmentName,
        vr.employee_id,
        e.actual_name employeeName,
        e.login_name employeeLoginName,
        vr.remark,
        vr.create_time,
        vr.update_time,
        vr.shzt,
        vr.shyj,
        vr.openid,
        vr.affirm_status,
        vr.temp,
        vr.qr_code
        from vis_visitors_record vr
        left join t_department d on vr.department_id = d.id
        left join t_employee e on vr.employee_id = e.id
        <where>
            <if test="queryDTO.startDate != null and queryDTO.startDate != ''">
                AND DATE_FORMAT(vr.visitors_time, '%Y-%m-%d')  <![CDATA[ >= ]]> #{queryDTO.startDate}
            </if>
            <if test="queryDTO.endDate != null and queryDTO.endDate != ''">
                AND DATE_FORMAT(vr.visitors_time, '%Y-%m-%d') <![CDATA[ <= ]]> #{queryDTO.endDate}
            </if>
        </where>
        order by d.name desc
    </select>
</mapper>
